.vs/
*.cs
*.cache
*.editorconfig
*.cs
*.cache
Containers and Cloud/Exam preparations/17-10-2023/Homies/Terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/windows_386/terraform-provider-azurerm_v3.0.0_x5.exe
Containers and Cloud/Exam preparations/15-02-2024/Task-2/terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.91.0/windows_386/terraform-provider-azurerm_v3.91.0_x5.exe
Containers and Cloud/Exam preparations/13-02-2024/11-Exam-Preparation-Resources/Task-2/SoftUniBazar/SoftUniBazar/obj/Debug/net6.0/project.razor.vscode.bin
Containers and Cloud/Exam preparations/13-02-2024/11-Exam-Preparation-Resources/Task-2/SoftUniBazar/SoftUniBazar/obj/Debug/net6.0/project.razor.vscode.bin
Containers and Cloud/Exam preparations/15-02-2024/Task-2/Watchlist/obj/Debug/net6.0/project.razor.vscode.bin
Containers and Cloud/Exam preparations/13-02-2024/11-Exam-Preparation-Resources/Task-2/SoftUniBazar/SoftUniBazar/obj/Debug/net6.0/project.razor.vscode.bin
Containers and Cloud/Exam preparations/17-10-2023/Homies/Homies/obj/Debug/net6.0/project.razor.vscode.bin
